.sidenav-container {
  height: 100%;
  @apply shadow;
}

.sidenav {
  width: 200px;
  @apply shadow;
}

.sidenav .mat-toolbar {
  background: inherit;
  @apply shadow;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  @apply shadow;
}

.xyz {
  @apply text-green-700 font-semibold border-2 bg-green-200  p-3 m-4 rounded-lg;
}